html{ /* General */
	padding: 3%;
}


h1,h2{	/* General */
	text-align: center;
	font-style: italic;
	font-family: monospace;
	color:#1c2770;
}

#hGuide{ /* Select file page*/
	text-align: center;
	font-style: italic;
	font-family: monospace;
	color:#0d47a1;
}

.pGuide{ /* Select file page*/
	font-family: monospace;
	font-size: 120%;
}

.step{ /* Select file page*/
	color:#0d47a1;
	font:  italic bold 12px/30px Georgia, serif;
}

#h1Upload{ /* Select file page*/
	font-size: 150% !important;
}

body{ /* General */
	text-align: center;
	background-color: #fafafa !important;
}

#commandListTitle{ /* Benchmark page*/
	font-style: italic;
	font-size: 150%;
}

#divDataType{	/* General */
	font-style: italic;
	font-size: 150%;
}

#removedBench{ /* Home */
	font-style: italic;
	font-size: 150%;
	background-color: #eeeeee;
}

.hide{	/* General*/
    display: hide;
}

#div_cmnd{ /* Home */
	border-style: inset; 
	border-width: 3px;
	border-color: #303030;
	padding: 2%;
	overflow-x: auto;
	background-color: #eeeeee;
}

.checktype_div{	/* Home */
	background-color: #eeeeee;
}

.th_cmd{ /* General */
	border-style: outset;
	border-color: #607D8B;
	border-width: 3px;

}

#stacked,#stacked_tcase{ /* General */
	background-color: #ffca28 !important; 
}

#line,#line_tcase{ /* General */
	background-color: #82b1ff !important; 
}

#scatter,#scatter_tcase{ /* General */
	background-color: #b2ff59 !important; 
}


table { /* table dei cmd */ /* General */
	padding: 3%;
	background-color: #f5f5f5 !important;
	
}

td,th{ /* General */
	text-align: right !important;
}

th{ /* General */
	font-style: italic;
	background-color: #eeeeee !important;
	background-color: #eeeeee !important;
}


#graphics_type{ /* home */
	overflow-x: auto;
	padding: 1%;
	font-style: italic;
}

#graphics_type_benchPage{/* bench page */
	padding: 1%;
	font-style: italic;
}

#myWorkContent{ /* General */
	border-style: outset;
	border-width: 3px;
	border-color: #2979FF;
    width:80%;
    height:auto;
    overflow-x: auto;
    /* overflow-y: scroll;*/ 
    white-space: nowrap;
}

#myWorkContent a { /* non serve */
    display: inline-block;
    vertical-align: middle;
}

.bordered{ /* General */
	padding: 3px;
	border-style: inset;
	border-width: 3px;
	border-color: #303030;
}

.removedBenchmarkDiv{	/* Home */
	padding: 2px;
	border-style: outset;
	border-color: #2979FF;
	overflow-x: auto;
	background-color: #fafafa;
}

.checkbox{ /* General */
	padding:5px;
}

/* General */
#container_1,#container_2,#container_line_tcase,#container_stacked_tcase,#container_stacked_tcase_notCompleted{
	height: 500px;
	border-style: inset;
	border-color: #2979FF;
}


.scatterZoom{ /* General */
	height: 32px;
	width: 32px;
	background-position: center !important;
	border: none;
}


#divUpload{ /* Select file Page*/
	padding: 3% 3% 3% 3%;
	background-color: #f1f8e9;
	border-color: #2979FF; 
}


.benchDetails{ /* Benchmark page*/
	font-style: italic;
	font-size:120%;
}

#div_cmnd_benchPage{  /* Benchmark page*/
	border-style: outset;
	border-color: #2979FF;
	background-color: #eeeeee;
}

.type_benchpage{ /* Benchmark page*/
	border-color: #2979FF;
	background-color: #eeeeee;
}