/*html, body {margin: 0; padding: 0;}*/

#myWorkContent{
    width:70%;
    height:40%;
    border: 13px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

#myWorkContent a {
    display: inline-block;
    vertical-align: middle;
}

table{
	border-style: solid;
}

