
h1,h2{
}

body{
	text-align: center;
}

.hide{
    display: hide;
}

#div_cmnd{
	border-style: solid; 
	padding: 2%;
}

.th_cmd{
	border-style: solid;
}

.last_col{
	border-right: solid;
}

table { /* table dei cmd */
	padding: 3%;
}

#graphics_type{
	border-style: solid;
}


#myWorkContent{
	border-style: solid;
    width:80%;
    height:auto;
    overflow-x: auto;
    /* overflow-y: scroll; */
    white-space: nowrap;
}

#myWorkContent a { /* non serve */
    display: inline-block;
    vertical-align: middle;
}

.bordered{
	padding: 5px;
	border-style: solid;
}

.removedBenchmarkDiv{
	padding: 5px;
	border-style: solid;
	overflow-x: auto;
}

.checkbox{
	padding:5px;
}